logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
.idea
**/*.iml
*.iml
*.zip
target/
/test/unit/reports
/test/e2e/config_testauto*
/test/e2e/json_template_filename_added_by_ptor*
npm-debug.log
coverage/
/src/app/app.css
/src/app/app.js
/src/app/vendor.css
/src/app/vendor*.js
/yarn.lock
