Dockerfile text eol=lf -crlf
CHANGELOG text eol=lf -crlf
LICENSE text eol=lf -crlf
LICENSE text eol=lf -crlf
.*rc text eol=lf -crlf
*.html text eol=lf -crlf
*.js text eol=lf -crlf
*.css text eol=lf -crlf
*.json text eol=lf -crlf
*.less text eol=lf -crlf
*.md text eol=lf -crlf
*.sh text eol=lf -crlf
*.scss text eol=lf -crlf
*.txt text eol=lf -crlf
*.xml text eol=lf -crlf
*.yml text eol=lf -crlf
