language: node_js
node_js: 8

addons:
  firefox: "50.0"

env:
  global:
  - COMMIT=${TRAVIS_COMMIT::8}
  - secure: YQpgwAZBTQNcqEPz1jqDyFHi5SIn3OEx/Rmob8/g0FWQFxMs/hW4di4AVmKfYVgVxOSQS5NjmvvXZfBSO9NrL9FHlVlwDo7HBs2qPxakJHQhhejnEeUHAQUAcmymOkGpH10UVI3xYBBjfS2DywN6TQtaQGOke59II/APsM2l3fanC4SQOqq3z44xJ5B74NOPEH3r/bu0+BBCNLR/00aAdzJjshNeXvTsx0zszPQ3cOt2guBqsTNHGkZiVg4135pqSfTn5W60109EbzgfxgG0Wbxnll81M79CXLc/OZcGa0TJbQo3QqklscY+MJ9BKdXX/mgS4kNjZcYXgXd7sLwxdRWZRqsLIa2mEOotJAKKUThfD4Df0HMrpRdrRqaCig+PvdpFXeeTT9ITNiaBwN9hQD35tYju9JFUJ6qLgdjj5/PLMge6NmfoVSp1Q8dzSfZJsbPt4suR8X39rrwSMdw5lbhk4jsSkWD90eZjhzKc+dcLulxxjMFZGrMueR34tGYG17a9U/s9qNSxQ/K0bDRr8z2Jxt/dAsL/1kOKEvyM1ewXhMV9YZ3k1VsgUOsiDRRhJZ7RoUCJNLAkrI0BgrYzblmCofVOigAM8GB5rrSAPHVaPy7FyrV8M0yfHQ1Vw7URFKDHDEb24VZLsOipqUgCQqO2doTVF5wL+c75euQzz68= # DOCKER_USER
  - secure: eN1Z1h98ux+F+RubsI3w4NeIFpNw8QI6fzBD7U/01KRHGdD3PzQldfK3fxRRENu8tSDEpmbqMqJO17OKdUxOJPSbn8sAJXMXB88vkqBmKRT5n0pYvQKRCAEy9DO/OiFhvi5IFUX1fvyMb3wQyK/N8YTYoVA6Phg/+R6fVophkBfVeyf3YdxB8yUHB7etaepPOjbcG8XCFp6UVuhLA0eExCY0P6KjYnWV4Mhah218uXpfboFV9ONNo2Ysy//q0liYMYIHnlSKNMynMzuXQiT2QWx6N23A7XQTrn8QwRbsD0JGVXvuuQSU4imH2Oc6EOqrr4OqfVy+8nuKoKbMsscABsnrJC0RqfX0rHJA3JWtM1PZ5KgAzqr4ADHe+qk/SpXno2EyIWohjr6twHWbxycxhAFy4HH9INVRWmrtg0/bD4vKah25msqj6en37UV0nUVsrnf3Rnfjc0LJlTlkR1G0j9uiI3HjHE+U1ABtXg8V31/Py4BqDenztdRHbqS6k0v2EX8tTLSPen6GT6ikG5lgq5yTFGhDtIGewDPFw0otsbATC6A6dPe2b2qn8lhlExchOjtT15zouqMgPY2pqSf5JlL2+DAkNjMSreaURZDTrr2LbraN3Y6UWDMQJYaTH1DZgaDsJXaPKez3G7/Q8mQ786JJYbwbwcLbxmW1W4Lx+YM= # DOCKER_PASS

stages:
- name: test
- name: docker
  if: (branch = master OR branch =~ ^v[0-9]) AND type != pull_request AND repo = "voyages-sncf-technologies/hesperides-gui"

jobs:
  include:
  - stage: lint
    script: npm run lint
  - stage: test
    before_script:
      - export DISPLAY=:99.0
      - sh -e /etc/init.d/xvfb start
      - npm install
      - npm start > /dev/null &
      #- node node_modules/protractor/bin/webdriver-manager update
      #- java -jar node_modules/protractor/node_modules/webdriver-manager/selenium/selenium-server-standalone-*.jar -Dwebdriver.chrome.driver=./protractor/node_modules/webdriver-manager/selenium/chromedriver_2.25 &
      - sleep 3 # give server time to start
    script:
      - npm test
      #- node_modules/.bin/protractor test/protractor-conf.js --browser=firefox
  - stage: deploy to docker hub
    script: .travis/docker_build_push.sh

notifications:
  webhooks: https://outlook.office.com/webhook/b95afcd0-96b7-4034-9bcd-785973709f0a@85eca096-674d-4fd9-9a9e-ae1178e2ee56/TravisCI/e609ea50bd7d485fbc01b47299a0d35b/671e3320-57d1-49bb-a67a-950d08b12517
  email:
    on_success: never
