language: node_js
node_js: 12

env:
  global:
    - secure: YQpgwAZBTQNcqEPz1jqDyFHi5SIn3OEx/Rmob8/g0FWQFxMs/hW4di4AVmKfYVgVxOSQS5NjmvvXZfBSO9NrL9FHlVlwDo7HBs2qPxakJHQhhejnEeUHAQUAcmymOkGpH10UVI3xYBBjfS2DywN6TQtaQGOke59II/APsM2l3fanC4SQOqq3z44xJ5B74NOPEH3r/bu0+BBCNLR/00aAdzJjshNeXvTsx0zszPQ3cOt2guBqsTNHGkZiVg4135pqSfTn5W60109EbzgfxgG0Wbxnll81M79CXLc/OZcGa0TJbQo3QqklscY+MJ9BKdXX/mgS4kNjZcYXgXd7sLwxdRWZRqsLIa2mEOotJAKKUThfD4Df0HMrpRdrRqaCig+PvdpFXeeTT9ITNiaBwN9hQD35tYju9JFUJ6qLgdjj5/PLMge6NmfoVSp1Q8dzSfZJsbPt4suR8X39rrwSMdw5lbhk4jsSkWD90eZjhzKc+dcLulxxjMFZGrMueR34tGYG17a9U/s9qNSxQ/K0bDRr8z2Jxt/dAsL/1kOKEvyM1ewXhMV9YZ3k1VsgUOsiDRRhJZ7RoUCJNLAkrI0BgrYzblmCofVOigAM8GB5rrSAPHVaPy7FyrV8M0yfHQ1Vw7URFKDHDEb24VZLsOipqUgCQqO2doTVF5wL+c75euQzz68= # DOCKER_USER
    - secure: eN1Z1h98ux+F+RubsI3w4NeIFpNw8QI6fzBD7U/01KRHGdD3PzQldfK3fxRRENu8tSDEpmbqMqJO17OKdUxOJPSbn8sAJXMXB88vkqBmKRT5n0pYvQKRCAEy9DO/OiFhvi5IFUX1fvyMb3wQyK/N8YTYoVA6Phg/+R6fVophkBfVeyf3YdxB8yUHB7etaepPOjbcG8XCFp6UVuhLA0eExCY0P6KjYnWV4Mhah218uXpfboFV9ONNo2Ysy//q0liYMYIHnlSKNMynMzuXQiT2QWx6N23A7XQTrn8QwRbsD0JGVXvuuQSU4imH2Oc6EOqrr4OqfVy+8nuKoKbMsscABsnrJC0RqfX0rHJA3JWtM1PZ5KgAzqr4ADHe+qk/SpXno2EyIWohjr6twHWbxycxhAFy4HH9INVRWmrtg0/bD4vKah25msqj6en37UV0nUVsrnf3Rnfjc0LJlTlkR1G0j9uiI3HjHE+U1ABtXg8V31/Py4BqDenztdRHbqS6k0v2EX8tTLSPen6GT6ikG5lgq5yTFGhDtIGewDPFw0otsbATC6A6dPe2b2qn8lhlExchOjtT15zouqMgPY2pqSf5JlL2+DAkNjMSreaURZDTrr2LbraN3Y6UWDMQJYaTH1DZgaDsJXaPKez3G7/Q8mQ786JJYbwbwcLbxmW1W4Lx+YM= # DOCKER_PASS

jobs:
  include:
    - stage: build
      env: BUILD DOCKER IMAGE
      install: echo Not performing default install step
      script: |
        docker build -t hesperides/hesperides-gui:$TRAVIS_COMMIT \
            --build-arg BUILD_TIME=$(date +%FT%T) \
            --build-arg GIT_TAG=$(date +%F) \
            --build-arg GIT_BRANCH=$TRAVIS_BRANCH \
            --build-arg GIT_COMMIT=$TRAVIS_COMMIT \
            --build-arg GIT_COMMIT_MSG="$TRAVIS_COMMIT_MESSAGE" .
        # We validate that the image built can start without any error at the entrypoint level:
        docker run --rm hesperides/hesperides-gui:$TRAVIS_COMMIT true

    - name: HTML Linter for user manual
      stage: test
      install:
        # Installing a more recent version than the one in the distro:
        - wget https://github.com/htacg/tidy-html5/releases/download/5.4.0/tidy-5.4.0-64bit.deb
        - sudo dpkg -i --force-overwrite tidy-5.4.0-64bit.deb
      script: for html in docs/*.html; do echo Tidying $html; tidy -quiet -modify -config docs/htmltidy.conf $html; done

    - name: pre-commit hooks
      stage: test
      # Ce work-around est mis pour corriger une issue du type https://github.com/pypa/virtualenv/issues/1551#issuecomment-584284214 sur travis.
      before_install: pip install --user --upgrade six
      install: pip install --user pre-commit
      script: pre-commit run --all-files

    - name: JS Linter
      stage: test
      script: npm run lint

    - name: Unit tests
      stage: test
      addons:
        firefox: "50.0"
      services:
        - xvfb
      before_script:
        - export DISPLAY=:99.0
      script:
        - npm test
        - cat test/unit/reports/coverage.txt

    - name: BDD Tests - Technos - Copy technos
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh technos/copy-technos.feature

    - name: BDD Tests - Technos - Create technos
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh technos/create-technos.feature

    - name: BDD Tests - Technos - Delete templates
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh technos/delete-templates.feature

    - name: BDD Tests - Technos - Download templates
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh technos/download-templates.feature

    - name: BDD Tests - Technos - Release technos
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh technos/release-technos.feature

    - name: BDD Tests - Technos - Search technos
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh technos/search-technos.feature

    - name: BDD Tests - Modules - Add technos
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh modules/add-technos.feature

    - name: BDD Tests - Modules - Add templates
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh modules/add-templates.feature

    - name: BDD Tests - Modules - Copy modules
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh modules/copy-modules.feature

    - name: BDD Tests - Modules - Create modules
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh modules/create-modules.feature

    - name: BDD Tests - Modules - Delete templates
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh modules/delete-templates.feature

    - name: BDD Tests - Modules - Download templates
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh modules/download-templates.feature

    - name: BDD Tests - Modules - Release modules
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh modules/release-modules.feature

    - name: BDD Tests - Modules - Remove technos
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh modules/remove-technos.feature

    - name: BDD Tests - Modules - Search modules
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh modules/search-modules.feature

    - name: BDD Tests - Platforms - Add deployed-modules
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/add-deployed-modules.feature

    - name: BDD Tests - Platforms - Add instances
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/add-instances.feature

    - name: BDD Tests - Platforms - Add logic-groups
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/add-logical-groups.feature

    - name: BDD Tests - Platforms - Copy logic group
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/copy-logical-groups.feature

    - name: BDD Tests - Platforms - Copy platforms
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/copy-platforms.feature

    - name: BDD Tests - Platforms - Create platforms
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/create-platforms.feature

    - name: BDD Tests - Platforms - Deployed modules
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/deployed-modules.feature

    - name: BDD Tests - Platforms - Get platforms
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/get-platforms.feature

    - name: BDD Tests - Platforms - Global properties diff
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/global-properties-diff.feature

    - name: BDD Tests - Platforms - Module properties diff
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/module-properties-diff.feature

    - name: BDD Tests - Platforms - Module properties list
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/module-properties-list.feature

    - name: BDD Tests - Platforms - Preview files
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/preview-files.feature

    - name: BDD Tests - Platforms - Save global properties
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/save-global-properties.feature

    - name: BDD Tests - Platforms - Save iterable properties
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/save-iterable-properties.feature

    - name: BDD Tests - Platforms - Save module properties
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/save-module-properties.feature

    - name: BDD Tests - Platforms - Search applications
      stage: test
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      provider: script
      script: travis_retry bash .travis/run_bdd_test.sh platforms/search-applications.feature

    - name: Deploy to Docker hub
      stage: deploy
      if: (branch = master OR branch =~ ^v[0-9]) AND type != pull_request AND repo = "voyages-sncf-technologies/hesperides-gui"
      script: .travis/docker_build_push.sh

notifications:
  email: false
