<script type="text/ng-template" id="iterable-properties-container">

    <div class="iterable-bloc" id="iterable-block-{{item.id}}" block-id="{{item.id}}">

        <div layout="row" class="iterable-bloc-title">
            <md-button id="e2e-iterable-property-{{property.name}}-bloc-{{item.id}}-remove-bloc-button"
                       aria-label="{{ 'properties.module.editProperties.iterableProperties.deleteBlock' | translate }}"
                       class="md-btn md-xs md-button"
                       ng-click="deleteOne(item)"
                       flex="5">
                <md-tooltip>{{ 'properties.module.editProperties.iterableProperties.deleteBlock' | translate }}
                </md-tooltip>
                <md-icon class="fa fa-minus fa-lg"></md-icon>
            </md-button>

            <!-- The title -->
            <input flex="40"
                   ng-model="item.title"
                   placeholder="{{ 'properties.module.editProperties.iterableProperties.blocTitle' | translate }}"
                   class="iterable-title-value">
        </div>

        <div ng-repeat="value in item.values | orderBy:'name'" ng-init="sectionIndex = $index">

            <!-- If the item hasn't iterable_valorisation_items, then it is simple property -->
            <div layout="row" ng-if="!value.iterable_valorisation_items">

                <div layout="column" flex="30">
                    <div class="truncate-ellipsis">
                        <label class="property-label"
                               ng-class="{'text-stroke':!value.inModel, 'default-value-color': value.defaultValue && !value.value}"
                        >{{value.name}}</label><span ng-show="value.required" class="property-required">*</span>
                        <md-tooltip md-direction="top">
                            {{value.name}}
                        </md-tooltip>
                    </div>
                </div>

                <div layout="column" flex>
                    <textarea ng-model="value.value"
                              ng-trim="true"
                              ng-readonly="!value.inModel"
                              ng-focus="focusthis = true"
                              ng-blur="focusthis = false"
                              ng-class="{'text-stroke':!value.inModel, 'default-value-color': (value.defaultValue || value.pattern) && !value.value, 'default-value-color-focus': focusthis}"
                              placeholder="{{value.tooltip}}"
                              ng-pattern="value.pattern"
                              ng-required="value.required"
                              class="property-value"
                              id="e2e-iterable-property-{{property.name}}-bloc-{{item.id}}-value-{{value.name}}"
                    ></textarea>
                    <md-tooltip ng-if="value.tooltip" md-direction="top">{{value.tooltip}}</md-tooltip>
                </div>

            </div>

            <!-- If the item has iterable_valorisation_items, then it is an inner iterable property -->
            <div ng-if="value.iterable_valorisation_items">

                <md-button id="e2e-iterable-property-{{property.name}}-add-bloc-button"
                           aria-label="{{ 'properties.module.editProperties.iterableProperties.addBlock' | translate }}"
                           class="md-btn md-xs md-button" ng-click="addOne(value)">
                    <md-tooltip>{{ 'properties.module.editProperties.iterableProperties.addBlock' | translate }}
                    </md-tooltip>
                    <md-icon class="fa fa-plus fa-lg"></md-icon>
                    {{value.name}}
                </md-button>

                <div ng-repeat="item in value.iterable_valorisation_items" ng-include="'iterable-properties-container'"></div>

            </div>
        </div>
    </div>
</script>

<div ng-repeat="property in iterables | orderBy:'name'" class="iterable-main-block" ng-if="property.inModel">

    <md-button id="e2e-iterable-property-{{property.name}}-add-bloc-button"
               aria-label="{{ 'properties.module.editProperties.iterableProperties.addBlock' | translate }}"
               class="md-btn md-xs md-button" ng-click="addOne(property)">
        <md-tooltip>{{ 'properties.module.editProperties.iterableProperties.addBlock' | translate }}</md-tooltip>
        <md-icon class="fa fa-plus fa-lg"></md-icon>
        {{property.name}}
    </md-button>

    <div id="e2e-iterable-property-{{property.name}}-blocks"
         ng-repeat="item in property.iterable_valorisation_items"
         ng-include="'iterable-properties-container'"></div>
</div>
