<md-dialog flex="90" aria-label="List dialog">
    <md-dialog-content>
            <div layout="row" class="center">  
                    <h3 flex="50">Titre de la dialogue à internationaliser</h3>
            </div>  
            <div layout="column" class="properties-headers">
                <div flex layout="row" layout-align="space-around">
                    <div class="property-name">{{ 'properties.compare.values.columnHeaders.propertyName' | translate }}</div>
                    <div>
                        {{ 'platform.properties.modal.columnHeaders.nbUsages' | translate }}
                        <i class="fa fa-question-circle"></i>
                    </div>
                    <div>
                        {{ 'platform.properties.modal.columnHeaders.finalValue' | translate }}
                    </div>
                    <div>
                        {{ 'platform.properties.modal.columnHeaders.globalValue' | translate }}
                        <i class="fa fa-question-circle"></i>
                    </div>
                    <div>
                        {{ 'platform.properties.modal.columnHeaders.moduleValue' | translate }}
                        <i class="fa fa-question-circle"></i>
                    </div>
                </div>
                <md-divider class="properties-list-divider"></md-divider>
                <div flex layout="row" layout-align="space-around" ng-repeat="property in properties">                
                    <div class="property-name">{{property.name}}</div>
                    <div class="property-usage">{{global_properties_usage}}</div> 
                    <div class="property-value">{{property.value}}</div> 
                                 
                </div>
            </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">Close Dialog</md-button>
    </md-dialog-actions>
</md-dialog>