
.fa-colored {
    color: red;
}

.flex-98 {
    flex: 1 1 100%;
    max-width: 98%;
    height: 90%;
    max-height: 90%;
    box-sizing: border-box;
}

.filter-block {
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    margin-top: 20px;   
}

.properties-filter {
    padding-left: 10px;
}

.switch-label-style {
    font-size: medium;
}

.filter-label-style {
    color: white !important;
    font-size: medium !important;
}

.filter-input-style {
    border-bottom: 1px solid white !important;
}

.dialog-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
}

.table-properties-list {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

.col-tab-titles{
    width: 10%;
    max-width: 200px; 
    word-wrap: break-word;
    text-align: left;
    position: sticky; top: 0;
    font-size: 16px;
    border-bottom: 1px solid rgb(0,150,136);
    height: 30px;
}

.col-tab-properties-datas{
    width: 10%;
    max-width: 200px; 
    word-wrap: break-word;
    text-align: left;
    padding-right: 10px;
    border-bottom: 1px solid rgb(0,150,136);
    height: 30px;
}

.dialog-tab {
    overflow-x: hidden;
}

.property-label-class {
    text-align: left;
    font-weight: bold;
    border: 0px !important;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.text-container {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.text-container > label {
    display: table-cell;
    overflow: hidden;
    word-wrap: break-word;
  }

  .col-tab-titles {
      background: white !important;
  }