.properties-header-divider {
    margin-bottom: 5px;
    margin-top: 10px;
}

.properties-conntainer {
   padding-top: 10px;
    padding-left: 10px;
}

.properties-headers {
    font-weight: bold;
}

.properties-values {
    margin-top: 5px;
}

.properties-name {
    font-weight: bold;
}

.property-line {
    border-bottom: 1px solid rgb(0,150,136);
}
