.properties-header-divider {
    margin-bottom: 5px;
    margin-top: 10px;
}

.properties-conntainer {
   padding-top: 10px;
    padding-left: 10px;
}

.properties-headers {
    font-weight: bold;
}

.properties-values {
    margin-top: 5px;
}

.properties-name {
    font-weight: bold;
}

.property-line {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0,150,136);
}

.properties-list-divider{
    border-bottom: 1px solid rgb(0,150,136);
}

.fa-colored {
    color: red;
}

.flex-98 {
    flex: 1 1 100%;
    max-width: 98%;
    max-height: 100%;
    box-sizing: border-box;
}