/* WIP: Ce composant est en cours de refacto pour suivre la nomenclature BEM,
   cf. https://github.com/voyages-sncf-technologies/hesperides-gui/blob/master/tech_docs/css.md */

.Banner {
    background-color: #E8715F;
    color: rgba(255, 255, 255, 0.84);
    padding: .5rem;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.Navbar input:focus{
    outline-width: 0;
}

.menu, .menu-title, .menu-header {
    background-color: #009587;
    color: rgba(255, 255, 255, 0.84);
}

.menu-side {
    align-items: center;
}

.menu-title {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-item {
    color: black;
    max-height: 500px;
}

md-menu-item > * {
    padding-left: 0;
    padding-right: 0;
}

md-menu-content {
    padding: 0;
}
md-menu-content.md-menu-bar-menu.md-dense {
    padding-top: 16px;
    padding-bottom: 10px;
}

.menu-header {
    font-size: 14px;
    font-family: AvenirBook,Arial,sans-serif;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.menu-header > .fa-caret-down {
    margin-left: .5rem;
}

.menu-header > .fa-cog {
    font-size: 20px;
}

a.menu-header {
    text-decoration: none;
    height: 40px;
}

md-toolbar .md-menu {
    margin: 0;
}

.menu-search-input {
    border: none;
    background:transparent;
    font-size: 14px;
}

.menu-properties-search-input {
    width: 420px !important;
}

.menu-settings {
    margin: 0;
    min-width: 25px;
    max-width: 25px;
    background-repeat: no-repeat;
    padding: 0 30px 0 13px;
}

.md-menu-toolbar{
    min-height: inherit;
}

md-menu-bar.md-default-theme md-menu.md-open > button, md-menu-bar md-menu.md-open > button, md-menu-bar.md-default-theme md-menu > button:focus, md-menu-bar md-menu > button:focus {
    outline: none;
    background-color: #007C6E;
}
