md-dialog {
    min-height: 300px !important;
}

.logicGroupCopier {
    padding-top: 1.25rem;
    padding-left: 1.25rem;

}

.logicGroupCopier__suggestion {
    height: 0.313rem;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    min-width: 5rem;
}

.logicGroupCopier__submit {
    margin-top: 0.625rem;
    max-height: 2.5rem;
    margin-left: 3.125rem;
}

.selectionType__radioGroup{
    margin-bottom: 0.938rem;
    display: flex;
    justify-content: center;
}

.copy__outline {
    display: flex;
    justify-content: center;
}
