.logicGroupCopier {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
}

.logicGroupCopier__suggestion {
    height: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 80px;
}

.logicGroupCopier__submit {
    margin-top: 0.625rem;
    max-height: 2.5rem;
    margin-left: 3.125rem;
}
