:root {
    --modal-title-input-text-color: white;
    --panel-title-color: #333;
    --panel-title-background-color: #F8F8F8;
    --table-row-even-background-color: white;
    --table-row-hover-background-color: #f5f5f5;
}
