<div class="SearchPropertiesForm">
    <form ng-submit="$ctrl.submitSearch()">
        <label for="search_property_name" autofocus>
            {{ 'search-properties.form.input.name' | translate }}
            <input type="text" id="search_property_name" ng-model="$ctrl.form.name">
        </label>&nbsp;
        <label for="search_property_value">
            <i class="fa fa-info-circle">
                <md-tooltip md-direction="top">
                    {{ 'search-properties.form.input.value.tooltip' | translate }}
                </md-tooltip>
            </i>
            {{ 'search-properties.form.input.value' | translate }}
            <input type="text" id="search_property_value" ng-model="$ctrl.form.value">
        </label>
        &nbsp;<input type="submit" id="e2e-search-properties-submit-button"
                     value="{{ 'search-properties.form.button.submit' | translate }}">
    </form>
</div>

<div ng-if="$ctrl.loading">
    <div class="SearchPropertiesResults__loading"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
</div>

<div ng-if="!$ctrl.loading && ($ctrl.submittedName || $ctrl.submittedValue)" class="SearchPropertiesResults">
    <span id="e2e-search-properties-result-count">
        &nbsp;<input type="text"
                     id="e2e-search-properties-result-filter"
                     ng-model="$ctrl.filterResults"
                     ng-show="$ctrl.properties.length > 1"
                     placeholder="{{ 'search-properties.results.filter' | translate }}">

        <span ng-if="$ctrl.properties.length == 0">
            <span ng-if="$ctrl.submittedName && $ctrl.submittedValue">
                {{ 'search-properties.results.no-name-value' | translate:
                    { name: $ctrl.submittedName, value: $ctrl.submittedValue }
                }}
            </span>
            <span ng-if="$ctrl.submittedName && !$ctrl.submittedValue">
                {{ 'search-properties.results.no-name' | translate: { name: $ctrl.submittedName } }}
            </span>
            <span ng-if="!$ctrl.submittedName && $ctrl.submittedValue">
                {{ 'search-properties.results.no-value' | translate: { value: $ctrl.submittedValue } }}
            </span>
        </span>

        <span ng-if="$ctrl.properties.length > 0">
            {{ $ctrl.displayedPropertiesCount() }}
            <span ng-if="$ctrl.displayedPropertiesCount() == 0">
                {{ 'search-properties.results.displayed-properties.count.zero' | translate }}
            </span>
            <span ng-if="$ctrl.displayedPropertiesCount() == 1">
                {{ 'search-properties.results.displayed-properties.count.one' | translate }}
            </span>
            <span ng-if="$ctrl.displayedPropertiesCount() > 1">
                {{ 'search-properties.results.displayed-properties.count.multiple' | translate }}
            </span>
            {{ $ctrl.properties.length }}
            <span ng-if="$ctrl.properties.length == 1">
                {{ 'search-properties.results.found-properties.count.one' | translate }}
            </span>
            <span ng-if="$ctrl.properties.length > 1">
                {{ 'search-properties.results.found-properties.count.multiple' | translate }}
            </span>
        </span>
    </span>

    <div ng-if="$ctrl.properties.length > 0">
        <table class="SearchPropertiesResults__table"
               id="e2e-search-properties-result-table">
            <thead class="head-table-properties-list">
            <tr class="row-head-table-properties-list">
                <th class="SearchPropertiesResults__col-tab-titles" ng-click="$ctrl.changeOrder('propertyName')">
                    <span class="SearchPropertiesResults__clickable-title"
                          id="e2e-search-properties-result-table-column-names">
                        {{ 'search-properties.results.table.column.name' | translate }}
                        <i class="fa fa-caret-{{ $ctrl.selectedOrder.charAt(0) == '-' ? 'up' : 'down' }}"
                           ng-if="$ctrl.selectedOrder.includes('propertyName')"></i>
                    </span>
                </th>
                <th class="SearchPropertiesResults__col-tab-titles" ng-click="$ctrl.changeOrder('propertyValue')">
                    <i class="fa fa-info-circle">
                        <md-tooltip md-direction="top">
                            {{ 'search-properties.results.table.column.value.tooltip' | translate }}
                        </md-tooltip>
                    </i>
                    <span class="SearchPropertiesResults__clickable-title"
                          id="e2e-search-properties-result-table-column-values">
                        {{ 'search-properties.results.table.column.value' | translate }}
                        <i class="fa fa-caret-{{ $ctrl.selectedOrder.charAt(0) == '-' ? 'up' : 'down' }}"
                           ng-if="$ctrl.selectedOrder.includes('propertyValue')"></i>
                    </span>
                </th>
                <th class="SearchPropertiesResults__col-tab-titles" ng-click="$ctrl.changeOrder('propertiesPath')">
                    <span class="SearchPropertiesResults__clickable-title"
                          id="e2e-search-properties-result-table-column-modules">
                        {{ 'search-properties.results.table.column.module' | translate }}
                        <i class="fa fa-caret-{{ $ctrl.selectedOrder.charAt(0) == '-' ? 'up' : 'down' }}"
                           ng-if="$ctrl.selectedOrder.includes('propertiesPath')"></i>
                    </span>
                </th>
                <th class="SearchPropertiesResults__col-tab-titles" ng-click="$ctrl.changeOrder('platformName')">
                    <span class="SearchPropertiesResults__clickable-title"
                          id="e2e-search-properties-result-table-column-platforms">
                        {{ 'search-properties.results.table.column.platform' | translate }}
                        <i class="fa fa-caret-{{ $ctrl.selectedOrder.charAt(0) == '-' ? 'up' : 'down' }}"
                           ng-if="$ctrl.selectedOrder.includes('platformName')"></i>
                    </span>
                </th>
                <th class="SearchPropertiesResults__col-tab-titles" ng-click="$ctrl.changeOrder('applicationName')">
                    <span class="SearchPropertiesResults__clickable-title"
                          id="e2e-search-properties-result-table-column-applications">
                        {{ 'search-properties.results.table.column.application' | translate }}
                        <i class="fa fa-caret-{{ $ctrl.selectedOrder.charAt(0) == '-' ? 'up' : 'down' }}"
                           ng-if="$ctrl.selectedOrder.includes('applicationName')"></i>
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="property in $ctrl.properties | filter:$ctrl.filterResults | orderBy:$ctrl.sortResultTable() | limitTo:$ctrl.propertiesToDisplayCount"
                class="SearchPropertiesResults__table-row"
                id="e2e-search-properties-result-table-row-{{ property.propertyName }}-{{ property.propertyValue }}-{{ property.platformName }}-{{ property.applicationName }}">
                <td class="SearchPropertiesResults__col-tab-properties-datas e2e-search-properties-property-name">
                    {{ property.propertyName }}
                </td>
                <td class="SearchPropertiesResults__col-tab-properties-datas e2e-search-properties-property-value">
                    {{ property.propertyValue }}
                </td>
                <td class="SearchPropertiesResults__col-tab-properties-datas e2e-search-properties-property-module">
                    <a ng-href="#/properties/{{ property.applicationName }}?platform={{ property.platformName }}#{{ property.propertiesPath }}"
                       target="_blank" title="{{ 'search-properties.results.table.open.module' | translate }}">
                        {{ $ctrl.buildPrettyPropertiesPath(property.propertiesPath) }}
                        &nbsp;<i class="fa fa-external-link"></i>
                    </a>
                </td>
                <td class="SearchPropertiesResults__col-tab-properties-datas e2e-search-properties-property-platform">
                    <a ng-href="#/properties/{{ property.applicationName }}?platform={{ property.platformName }}"
                       target="_blank" title="{{ 'search-properties.results.table.open.platform' | translate }}">
                        {{ property.platformName }}
                        &nbsp;<i class="fa fa-external-link"></i>
                    </a>
                </td>
                <td class="SearchPropertiesResults__col-tab-properties-datas e2e-search-properties-property-application">
                    <a ng-href="#/properties/{{ property.applicationName }}"
                       target="_blank" title="{{ 'search-properties.results.table.open.application' | translate }}">
                        {{ property.applicationName }}
                        &nbsp;<i class="fa fa-external-link"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <a href="" id="e2e-search-properties-display-more-button"
           ng-click="$ctrl.displayMore()"
           ng-if="$ctrl.limitedPropertiesCount() < $ctrl.properties.length && $ctrl.filteredPropertiesCount() > $ctrl.limitedPropertiesCount()">
            {{ 'search-properties.results.display.more' | translate }}</a>
    </div>
</div>
