.diff-property-headers div {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
}

.diff-togglePropertyDetails {
    padding-left: 20%;
}

.diff-property-name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right; /* Important for header "Property name" */
}

.diff-value {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
}

.diff-checkbox {
    margin: 0 0 4px 0 !important;
}

.diff-text-modifiable {
    color: rgb(4, 158, 96);
    margin: 0 1rem;
}

.diff-text-unmodifiable {
    color: rgb(158, 4, 4);
    margin: 0 1rem;
}

.diff-warning-text-button {
    font-weight: bold;
    text-decoration: underline
}

.diff-line {
    min-height: 20px;
    padding-bottom: 4px;
}

.diff-column-break-word {
    word-wrap: break-word;
}

.diff-platform-tag {
    height: 5px !important;
    margin-top: 0px !important;
    margin-botton: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 0px !important;
    padding-botton: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-width: 80px !important;
}

.diff-divider {
    padding-bottom: 15px;
}

.diff-date-error-message {
    color: rgb(255, 87, 34) !important;;
}

.diff-left-title > div, .diff-left-value > div {
    text-align: right;
}

.diff-char-highlight-right,
.diff-char-highlight-left {
    background-color: yellow;
    color: #24292e;
    border-radius: 5px 5px;
}

.diff-text-unmodifiable_stored .diff-char-highlight-right {
    background-color: #fdb8c0;
}

.diff-text-modifiable_stored .diff-char-highlight-left {
    background-color: #acf2bd;
}
